{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    <div>
                        {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
                    </div>
                    {{ form_errors(form.name) }}
                    {{ form_label(form.license) }}
                    <div>
                        {{ form_widget(form.license, {attr: {class: 'form-control'}}) }}
                    </div>
                    {{ form_label(form.age) }}
                    <div>
                        {{ form_widget(form.age, {attr: {class: 'form-control'}}) }}
                    </div><br>
                    <div>
                        {{ form_widget(form.save,  {attr: {class: 'form-control btn btn-success'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}