{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Car</th>
                        <th>Driver</th>
                        <th>Client</th>
                        <th>Length</th>
                        <th>Duration</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.id }}</td>
                            <td>
                                {% if trip.car %}
                                {{ trip.car.make }}
                                {% else %}
                                    -
                                    {% endif %}
                            </td>
                            <td>
                                {% if trip.driver %}
                                {{ trip.driver.name }}
                                {% else %}
                                    -
                                    {% endif %}
                            </td>
                            <td>
                                {% if trip.client %}
                                    {{ trip.client.name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ trip.length }} km</td>
                            <td>{{ trip.duration }} min</td>
                            <td>{{ trip.cost }} €</td>
                            <td><a href="{{ path('trip.edit', {id: trip.id}) }}">Edit</a></td>
                            <td><a href="{{ path('trip.delete', {id: trip.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <a class="btn btn-warning" href="{{ 'trip/create' }}">Create trip</a>
            </div>
        </div>
    </div>
{% endblock %}
