{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Length</th>
                        <th>Duration</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.id }}</td>
                            <td>{{ trip.length }} km</td>
                            <td>{{ trip.duration }} min</td>
                            <td>{{ trip.cost }} €</td>
                            <td><a href="{{ path('trip.edit', {id: trip.id}) }}">Edit</a></td>
                            <td><a href="{{ path('trip.delete', {id: trip.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
