{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="container">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for car in cars %}
                            <tr>
                                <td>{{ car.id }}</td>
                                <td>{{ car.make }}</td>
                                <td>{{ car.model }}</td>
                                <td>{{ car.typeString }}</td>
                                <td><a href="{{ path('car.edit', {id: car.id}) }}">Edit</a></td>
                                <td><a href="{{ path('car.delete', {id: car.id}) }}">Delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
