{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>{{ client.id }}</td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.genderString }}</td>
                            <td><a href="{{ path('client.edit', {id: client.id}) }}">Edit</a></td>
                            <td><a href="{{ path('client.delete', {id: client.id}) }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <a class="btn btn-warning" href="{{ 'client/create' }}">Create client</a>
            </div>
        </div>
    </div>
{% endblock %}
